.snakemake/*

*.faa
*.fna
*.ffa
*.ffn
*.gff
*.fa
*.fasta
*.fastq

*.tmp
*.sam
*.bam

*.pac
*.sa
*.amb
*.ann
*.bwt
*.fai

*.zip
*.gz
*.log
*.benchmark
*.e
*.o
*.pickle
*.pkl

.RDataTmp
.Rhistory
*.RData

temp
temp*
temp/*

results/._.DS_Store
results/.DS_Store

results/*